/* ================================services card section ========================*/
.card {
  background: linear-gradient(#ffffff 50%, #2c7bfe 50%);
  background-size: 100% 200%;
  background-position: 0 1.5%;
}
.card:hover {
  background-position: 0 100% ;
}